@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
img {
  display: block;
  width: 96px;
  height: auto;
  margin: auto;
}
.title-container {
  height: 5em;
  display: flex;
  background-color: black;
  align-items: center;
}
.title {
  color: white;
  margin: 0;
  padding: 10px;
  padding-left: 40px;
}
.subtitle {
  text-align: center;
}

.kit-container {
  height: 250px;
  max-height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 3px solid black; /* remove - debbug */
  margin-bottom: 30px;
}
.beer-container,
.cup-container,
.opener-container {
  display: flex;
  gap: 90px;
}

.beer,
.cup,
.opener {
  word-wrap: break-word;
  width: 150px;
  max-width: 150px;
  border: solid 1px black;
}
.item-description,
.item-price {
  text-align: center;
}
